@import "tailwindcss";

@custom-variant hover (&:hover);

@theme {
    --color-body: #292929;
    --color-dark: #121212;
    --color-grey: #22252a;
    --color-main: #3737c3;
    --color-works: #7c71db;
    --color-about: #3f1ff1;
    --color-milk: #e8e4f5;
    --color-blog: #0046ff;

    --font-sora: "";
    --font-lato: "";
    --font-mono: var(--font-mono);
    --ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
    --ease-spring: cubic-bezier(0.5, 1.25, 0.75, 1.25);
    --ease-smooth: cubic-bezier(0.22, 0.61, 0.36, 1);
    --ease-gentle: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;
}

.main-button {
    @apply px-5 h-14 sm:h-16 gap-2 flex w-max items-center justify-center text-white bg-body hover:bg-white hover:text-black focus:bg-white focus:text-black rounded-xl font-medium text-base sm:text-xl font-sora ease-in-out duration-200;
}
.text-field {
    @apply px-5 h-14 sm:h-16 gap-2 flex w-full outline-hidden items-center justify-center text-white bg-body focus:bg-white focus:text-body rounded-xl font-medium text-xl font-sora ease-in-out duration-200;
}
/* Make scrollbars more pretty */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.hidden-scroll::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

/*make everything bigger on larger screens than 1920 */
@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
}
img {
    -webkit-user-drag: none;
}
