@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Sora", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 90%;
  font-weight: 400;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-button {
  @apply px-5 h-16 gap-2 flex w-max items-center justify-center text-white bg-body hover:bg-white hover:text-black rounded-xl font-medium text-xl font-sora ease-in-out duration-200;
}

@layer utilities {
  /* Make scrollbars more pretty */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }
}

.hidden-scroll::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
