.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -444px;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-image: radial-gradient(
      4px 4px at 314px 450px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 89px 456px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 137px 478px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 244px 475px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 83px 545px,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 268px 59px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 144px 151px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 264px 429px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 38px 61px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 134px 398px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 393px 178px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 23px 75px,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 249px 370px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 307px 275px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 495px 272px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    );
  background-size: 444px 444px;
  animation: snow 2.5s linear infinite;
  content: "";
}
.snow:after {
  margin-left: -200px;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: 12s;
  animation-direction: reverse;
  margin-left: -300px;
  opacity: 0.65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY(444px);
  }
}
